dist
.vite
apps/desktop/out
apps/desktop/.native
.wrangler
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js
*.tsbuildinfo
/main.js

# Environment
.env*
.convex-auth-private.jwk
.convex-auth-jwks.json

# dependencies
/node_modules
/native/build
/native/audio-core/build
/public/audio-core

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
tmp/*

# System Files
.DS_Store
Thumbs.db

.wrangler

.factory/*