dist
.wrangler
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js
*.tsbuildinfo

# Environment
.env*

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
tmp/*

# System Files
.DS_Store
Thumbs.db

.wrangler

.factory/*